body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header .logo,
.header .login {
    background-color: orange;
    padding: 3px;
    border: 2px dashed black;
}

.nav-links {
    display: flex;
    gap: 10px;
    background-color: orange;
    padding: 3px;
    flex-grow: 1;
    justify-content: center;
    border: 2px dashed black;
}